---
import { siteConfig } from '../config';

interface Props {
  label?: string;
}

const { label = "Call Now for a Free Estimate" } = Astro.props;
---
<div class="my-4 text-center">
  <a href={`tel:${siteConfig.phoneE164}`} class="btn-brand">
    📞 {label}: {siteConfig.phone}
  </a>
</div>
